.personal-details-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;

  .personal-details-container {
    width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;

    .avatar-section{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    input[type="file"] {
      display: none;

    }
  }
    h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    font-family: RegularFont;
     color: black;
    }

    .subtext {
      font-weight: 500px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color : #707070;   
    }

    .personal-details-form {
      .form-group {
        margin-bottom: 20px;
        text-align: left;

        label {
          display: block;
          margin-bottom: 8px;
          font-size: 14px;
          color: #333;
        }

        input {
          width: 100%;
          padding: 12px;
          border: 1px solid #ddd;
          border-radius: 10px;
          font-size: 14px;
          box-sizing: border-box;
          background: #bcbcc133;
        }
      }

      /* Grid layout for First Name and Last Name in a single row */
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px; /* Adds space between the fields */
      }

      .submit-button {
        width: 100%;
        padding: 12px;
        background-color: #800080; /* Primary color */
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #5a005a; /* Darker shade of primary color */
        }
      }
    }
  }
}

.error{
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}