.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .login-container {
      width: 550px;
      
      border-radius: 8px;

      text-align: center;
  

  
      h2 {
        font-size: 18px;
        margin-bottom: 10px;
      }
  
      .subtext {
        font-size: 14px;
        color: #666;
        margin-bottom: 30px;
      }
  
      .login-form {
        .form-group {
          margin-bottom: 20px;
          text-align: left;
  
          label {
            display: block;
            margin-bottom: 8px;
            font-size: 14px;
            font-family: BoldFont;
            color: #333;
          }
  
          input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            background-color: #BCBBC133;
            border-radius: 4px;
            font-size: 14px;
          }
        }
  
        .forgot-password {
          text-align: right;
          margin-bottom: 20px;
  
          a {
            color: #800080; /* Purple color for the link */
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
  
        .login-button {
          width: 100%;
          padding: 12px;
          background-color: #800080; /* Purple color for the button */
          color: #fff;
          border: none;
          border-radius: 4px;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #5a005a; /* Darker shade of purple */
          }
        }
      }
    }
  }
  