.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;

  .login-container {
    text-align: center;

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .subtext {
      font-size: 14px;
      color: #666;
      margin-bottom: 30px;
    }

    .login-form {
      .form-group {
        margin-bottom: 20px;
        text-align: left;

        label {
          display: block;
          margin-bottom: 8px;
          font-size: 14px;
          font-family: BoldFont;
          color: #333;
        }

        input {
          width: calc(100% - 17px);
          padding: 10px;
          border: 1px solid #ddd;
          background-color: #bcbbc133;
          border-radius: 10px;
          font-size: 14px;
        }
      }

      .forgot-password {
        text-align: right;
        margin-bottom: 20px;

        p {
          color: #800080; /* Purple color for the link */
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .login-button {
        width: 100%;
        padding: 12px;
        background-color: var(--pmu-primary); /* Purple color for the button */
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken(#8e2d8e, 10%);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .login-page {
    width: 100%;
    .login-container {
      h2 {
        font-size: 16px;
      }

      .subtext {
        font-size: 12px;
        margin-bottom: 20px;
      }

      .login-form {
        .form-group {
          label {
            font-size: 12px;
          }

          input {
            padding: 8px;
            font-size: 16px;
          }
        }

        .forgot-password {
          p {
            font-size: 12px;
          }
        }

        .login-button {
          font-size: 14px;
        }
      }
    }
  }
}

input[type="email"],
input[type="password"],
input[type="text"] {
  font-size: 16px !important;
}
