.dashboard-page {
  display: flex;
  justify-content: center; // Center horizontally
  align-items: center; // Align items vertically
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  .dashboard-container {
    max-width: 80%;
    padding: 0 10px;

    .dashboard-header {
      text-align: left;
      margin-bottom: 10px;

      h3 {
        font-size: 24px;
        color: #333;
        margin-bottom: 5px;
        font-weight: 700;
        font-family: RegularFont;
        span {
          color: #800080;
        }
      }

      p {
        font-size: 16px;
        color: #666;
      }

      .alert {
        background: #ffa21d1a;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        margin-top: 5px;
        font-size: 12px;
        color: #ff9500;
        p {
          color: var(--pmu-orange);
          font-weight: 500;
        }
      }
    }

    .actions-section {
      display: flex;
      justify-content: space-between;
      align-items: stretch; /* Change to 'stretch' for equal height */
    }

    .action-card {
      display: flex;
      gap: 20px;
      border-right: 1px solid #ddd;
      width: 30%;
      padding: 20px;
      text-align: left;
      align-items: center;
      cursor: pointer;
      flex: 1; /* Allow cards to grow equally */
    }

    .action-card:last-child {
      border-right: none; /* Remove border from the last card */
    }

    .action-card svg {
      width: 40px; /* Set a fixed width for SVGs */
      height: 40px; /* Set a fixed height for SVGs */
      flex-shrink: 0; /* Prevent SVG from shrinking */
    }

    h5 {
      font-size: 16px;
      color: #000000;
      line-height: 20px;
      margin: 0;
      padding: 0;
      font-family: MediumFont;
      font-weight: 500;
    }

    p {
      font-size: 13px;
      color: var(--pmu-grey-text);
      padding: 0;
      margin: 0;
    }

    .appointments-section {
      margin-top: 10px;
      h3 {
        font-size: 20px;
        color: #000000;
        font-family: BoldFont;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        padding: 0;
        margin: 0;
      }
      .see-all-appointments {
        text-align: right;

        p {
          text-align: right;
          color: #800080;
          text-decoration: none;
          font-size: 13px;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .appointments-list {
        .appointment-card {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 8px;
          padding: 20px;
          margin-bottom: 20px;

          .appointment-info {
            text-align: left;
            h4 {
              font-size: 16px;
              padding: 0;
              margin: 0;
              font-family: MediumFont;
              font-weight: 500;
              line-height: 24px;
              text-align: left;
            }

            p {
              font-size: 11px;
              padding: 0;
              margin: 0;
              font-weight: 400;
              line-height: 16px;
              text-align: left;
            }

            .status {
              font-size: 12px;
              display: inline-block;
              padding: 5px 10px;
              border-radius: 5px;
              margin-top: 5px;

              &.true {
                background: #34c7591a;
                color: #34c759;
                border-radius: 8px;
              }

              &.false {
                background: #ffa21d1a;
                color: var(--pmu-orange);
                border-radius: 8px;
              }
            }
          }

          .appointment-actions {
            display: flex;
            gap: 10px;
          }
        }
      }
      .no-appointments {
        text-align: center;
        padding: 20px;
        font-size: 16px;
        color: #666;
      }
    }
  }
}

/* Media Queries for iPad and Mobile */
@media screen and (max-width: 1024px) {
  .dashboard-page {
    .dashboard-container {
      max-width: 85%;
      .dashboard-header {
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .alert {
          font-size: 12px;
        }
      }

      .actions-section {
        display: flex;
        flex-direction: column; // Ensure items stack correctly on mobile
        align-items: stretch; // Make items take full width
        width: 100%;

        .action-card {
          width: 90%;
          border-right: none;
          border-bottom: 1px solid #ddd;
          padding: 15px;
          margin-bottom: 10px;
          gap: 15px;

          h5 {
            font-size: 14px;
          }

          p {
            font-size: 12px;
          }
        }
      }

      .appointments-section {
        h3 {
          font-size: 18px;
        }
        .appointments-list {
          .appointment-card {
            flex-direction: column;
            align-items: flex-start;

            .appointment-info {
              h4 {
                font-size: 14px;
              }

              p {
                font-size: 10px;
              }
              .status {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .dashboard-page {
    .dashboard-container {
      max-width: 85%;
      .dashboard-header {
        h3 {
          font-size: 20px; /* Match the font size */
          margin-bottom: 5px; /* Adjust spacing */
        }

        p {
          font-size: 14px;
          margin-bottom: 10px;
        }

        .alert {
          display: flex;
          align-items: center;
          background: #fff6e5;
          border: 1px solid #ffdca3;
          padding: 10px;
          gap: 10px; /* Spacing between icon and text */
          border-radius: 8px;
          font-size: 13px;

          svg {
            width: 20px;
            height: 20px; /* Adjust icon size */
          }

          p {
            margin: 0;
            font-size: 13px;
            color: #ff9500;
          }
        }
      }

      .actions-section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;

        .action-card {
          display: flex;
          align-items: center;
          gap: 10px;
          border: 1px solid #e0e0e0;
          background: #ffffff;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          padding: 10px 15px;
          border-radius: 8px;

          svg {
            width: 30px; /* Adjust icon size */
            height: 30px;
          }

          h5 {
            font-size: 14px;
            margin: 0;
            line-height: 20px;
          }

          p {
            font-size: 12px;
            margin: 0;
          }
        }
      }

      .appointments-section {
        margin-top: 15px;

        h3 {
          font-size: 16px; /* Adjust heading size */
          margin-bottom: 10px;
        }

        .see-all-appointments {
          text-align: right;
          margin-bottom: 15px;

          a {
            font-size: 12px;
            font-weight: bold;
            text-decoration: underline;
            color: #800080;
          }
        }

        .appointments-list {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .appointment-card {
            flex-direction: column;
            align-items: flex-start;
            padding: 5px;
            background: #ffffff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Light shadow */
            border-radius: 8px;
            margin-bottom: 0;

            .appointment-info {
              margin-bottom: 10px;

              h4 {
                font-size: 16px;
                margin-bottom: 5px;
              }

              p {
                font-size: 12px;
                line-height: 1.5;
                margin: 0;
              }

              .status {
                font-size: 12px;
                margin-top: 5px;
                padding: 5px 10px;
                border-radius: 5px;

                &.true {
                  background: #e8f5e9;
                  color: #34c759;
                }

                &.false {
                  background: #fff4e6;
                  color: #ff9500;
                }
              }
            }

            .appointment-actions {
              display: flex;
              width: 100%;
              justify-content: space-between;

              button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48%; /* Make buttons equal width */
                background: #e8e8ff; /* Set button background */
                border: 1px solid #ccc;
                color: #4a4a4a;
                border-radius: 6px;
                padding: 10px 0;
                cursor: pointer;

                svg {
                  width: 18px; /* Adjust icon size */
                  height: 18px;
                }

                &:hover {
                  background: #dcdcdc;
                }
              }

              .view-forms-button {
                background: #800080;
                color: #fff;
              }

              .delete-appointment-button {
                background: #ff6e6e;
                color: #fff;
              }
            }
          }

          .no-appointments {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            background: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            text-align: center;

            p {
              font-size: 14px;
              color: #666;
              margin-top: 10px;
            }

            svg {
              margin-bottom: 10px; /* Spacing for SVG icon */
            }
          }
        }
      }
    }
  }
}
