.appointments {
  margin-top: 10px;
  padding: 20px;
  p {
    font-size: 14px;
    color: #666;
    font-family: RegularFont;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding: 0 0 0 10px;
    margin: 0;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;

    h3 {
      margin: 0;
      font-size: 20px;
      color: #000000;
      font-family: BoldFont;
      font-weight: 500;
      line-height: 28px;
    }

    .search-bar {
      input {
        padding: 10px;
        width: 250px; /* Adjust width as needed */
        border: 1px solid var(--pmu-primary);
        border-radius: 5px;
        font-size: 14px;
      }
      :focus {
        outline: none;
        border: 1px solid var(--pmu-primary);
      }
    }
  }

  .appointments-list {
    .appointment-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 20px;

      .appointment-info {
        text-align: left;
        .truncate-title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
          vertical-align: top;
        }

        h4 {
          font-size: 16px;
          padding: 0;
          margin: 0;
          font-family: MediumFont;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
        }

        p {
          font-size: 11px;
          padding: 0;
          margin: 0;
          font-weight: 400;
          line-height: 16px;
          text-align: left;
        }

        .status {
          font-size: 12px;
          display: inline-block;
          padding: 5px 10px;
          border-radius: 5px;
          margin-top: 5px;

          &.true {
            background: #34c7591a;
            color: #34c759;
            border-radius: 8px;
          }

          &.false {
            background: #ffa21d1a;
            color: var(--pmu-orange);
            border-radius: 8px;
          }
        }
      }

      .appointment-actions {
        display: flex;
        gap: 10px;
      }
    }
  }

  .no-appointments {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #666;
    p {
      font-size: 14px;
      color: #666;
      font-family: RegularFont;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      padding: 0 0 0 10px;
      margin: 0;
    }
  }
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    span {
      font-size: 16px;
      margin: 0 10px;
    }

    svg {
      font-size: 24px;
      cursor: pointer;
    }
  }
}

/* Tablet View: Adjust for screens up to 768px */
@media screen and (max-width: 768px) {
  .appointments {
    margin-top: 0px;
    padding: 10px;
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding: 0 10px;

      h3 {
        margin: 0;
        font-size: 20px;
        color: #000000;
        font-family: BoldFont;
        font-weight: 500;
        line-height: 28px;
      }
    }

    .appointments-list {
      .appointment-card {
        padding: 15px;
        flex-direction: column; /* Stack content vertically */
        align-items: flex-start;

        .appointment-info {
          margin-bottom: 10px; /* Spacing between info and actions */
          h4 {
            font-size: 15px;
          }
          p {
            font-size: 12px;
          }
        }

        .appointment-actions {
          width: 100%; /* Full width for actions */
          justify-content: space-between; /* Spread buttons */
        }
      }
    }

    .no-appointments {
      font-size: 14px;
      padding: 15px;
    }
  }
}
@media screen and (max-width: 480px) {
  .appointments {
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h3 {
        margin: 0;
        font-size: 18px;
        color: #000000;
        font-family: BoldFont;
        font-weight: 500;
        line-height: 28px;
      }

      .search-bar {
        input {
          padding: 10px;
          width: 100px; /* Adjust width as needed */
          border: 1px solid var(--pmu-primary);
          border-radius: 5px;
          font-size: 14px;
        }
        :focus {
          outline: none;
          border: 1px solid var(--pmu-primary);
        }
      }
    }

    .appointments-list {
      .appointment-card {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 8px;

        .appointment-info {
          width: 100%;
          margin-bottom: 10px;

          h4 {
            font-size: 14px;
          }

          p {
            font-size: 12px;
            margin: 5px 0;
          }

          .status {
            font-size: 12px;
            padding: 4px 10px;
            text-align: center;
          }
        }

        .appointment-actions {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 8px;
          width: 100%;

          button {
            font-size: 12px;
            padding: 8px;
            flex: 1;
            max-width: 48%;
          }
        }
      }
    }

    .no-appointments {
      font-size: 14px;
      padding: 10px;
      text-align: center;
    }
  }
}

.breadcrumb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .breadcrumb {
    padding: 0 1px;
  }
}

@media screen and (max-width: 480px) {
  .breadcrumb {
    padding: 0 1px;
  }
}
