.authenticatedNavbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  z-index: 2000;
  position: relative;

  .navlink {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .authLogo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .authlinks {
    display: flex;
    align-items: center;
    margin-left: 40px;

    ul {
      display: flex;
      align-items: center;
      gap: 20px;

      li {
        list-style: none;
        position: relative;
        cursor: pointer;
        color: #101928;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;

        a {
          text-decoration: none;
          color: #101928;
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;

          &:hover {
            color: var(--color-blue-dark);
          }
        }
      }
    }
  }

  .avatar {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
}

/* 📱 Mobile Styles */
@media screen and (max-width: 768px) {
  .authenticatedNavbarContainer {
    padding: 10px 20px;

    .navlink {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .authLogo {
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: flex-start;
      flex-grow: 1;
    }

    .authlinks {
      display: none;

      &.visible {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 100vh;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px 0;
        text-align: center;
        border-radius: 10px;
        z-index: 1000;

        ul {
          flex-direction: column;
          align-items: center;
          gap: 20px;

          li {
            a {
              font-size: 16px;
            }
          }

          .mobile-logout {
            display: block;
            font-size: 16px;
            color: red;
            cursor: pointer;

            &:hover {
              color: darkred;
            }
          }
        }
      }
    }

    .hamburger-avatar-container {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .avatar {
      display: block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
    }

    .hamburger-menu {
      display: block;
      font-size: 24px;
      cursor: pointer;
    }
  }
}
