.book-appointment-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: BoldFont;
    font-weight: 700;
    line-height: 32px;
    color: #000000;
    text-align: center;
  }

  .description {
    font-size: 16px;
    color: var(--pmu-grey-text);
    margin-bottom: 30px;
    font-family: MediumFont;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;
    text-align: left;

    p {
      display: block;
      margin-bottom: 10px;
      font-family: MediumFont;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
    }

    .services-list {
      display: flex;
      flex-direction: column;
      gap: 1px;

      .checkbox-item {
        display: flex;
        align-items: center;

        label {
          font-size: 16px;
          cursor: pointer;
          font-family: RegularFont;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
        }
      }
    }
  }

  .alert-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background: #fff6e5;
    border: 1px solid #ffdca3;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 20px;

    p {
      color: #ff9500;
      margin: 0;
    }
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    button {
      flex: 1;
      padding: 16px;
      border: none;
      border-radius: 12px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
    }

    .go-back-button {
      background: #f5e6f8;
      color: #800080;

      &:hover {
        background: #eed9f4;
      }
    }

    .continue-button {
      background: #800080;
      color: #fff;

      &:hover {
        background: #6e006e;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .book-appointment-page {
    margin: 20px auto;
    padding: 15px;
    border-radius: 12px;
   
  
    h1 {
      font-size: 22px;
      margin-bottom: 12px;
    }
  
    .description {
      font-size: 14px;
      margin-bottom: 25px;
    }
  
    .form-group {
      margin-bottom: 20px;
  
      p {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 18px;
      }
  
  
      .services-list {
        display: flex;
        flex-direction: column;
        gap: 0px; /* Adjust spacing for services */
  
        .checkbox-item {
          display: flex;
          align-items: center;
  
          label {
            font-size: 16px;
            cursor: pointer;
          }
  
          .MuiCheckbox-root {
            color: #800080; /* Purple checkbox */
            &.Mui-checked {
              color: #800080; /* Checked color */
            }
          }
        }
      }
    }
  
    .alert-box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      background: #fff6e5;
      border: 1px solid #ffdca3;
      padding: 12px 18px;
      border-radius: 10px;
      font-size: 14px;
      margin-bottom: 15px;
  
      p {
        color: #ff9500;
        margin: 0;
        text-align: left;
      }
    }
  
    .button-group {
      display: flex;
      justify-content: space-between;
      gap: 10px;
  
      button {
        flex: 1;
        padding: 14px 0;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
      }
  
      .go-back-button {
        background: #f5e6f8;
        color: #800080;
  
        &:hover {
          background: #eed9f4;
        }
      }
  
      .continue-button {
        background: #800080;
        color: #fff;
  
        &:hover {
          background: #6e006e;
        }
      }
    }
  }
}
